body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    background-color: #f5f5f5;
    min-width: 320px;
    margin: 0px;
    z-index: -100;
}
main {
    /*max-width: 1100px;*/
    margin: auto;
    z-index: -100;
}
h1 {
    color: #7c7c7c;
    font-size: 80px;
    font-weight: normal;
    margin: 0px; 
}
h2 {
    color: #7c7c7c;
    font-size: 30px;
    margin: 0px; 
}
h3 {
    font-weight: normal;
}
p{
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
div{
    /*border: 1px solid #000000;*/
}
strong, b {
}
.parallax-container {
      height: 300px;
}

.anime_lr{
    animation: animationFrames ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 100%;
    animation-fill-mode:forwards;
}
@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(500px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
}}

#header_background{
    width: auto;
    height: auto;
    z-index: -200;
}
#bg {
    position: absolute;
    left: 0px;
    right: 0px;
    height: auto;
    z-index: 0;
    margin: 0px;
    overflow: hidden;
    /*filter: blur(2px);*/
}
#bg2 {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 1000px;
    z-index: 2;
    margin: 0px;
    /*overflow: hidden;*/
}
.promotion {
    background-size: cover;
    background-position: center;
    width: 100%;
    /*background-color: #79b222;*/
    /*background: radial-gradient(ellipse at center, #a6ff0c 0%,#436607 100%);*/
    overflow: hidden;
    z-index: -2;
    
} 
.promo_text{
    margin: 3%;
    width: 40%;
    color: #ffffff ;
    font-size: calc(1rem + ((1vw - 3.2px) * 5));
    align-self: center;
    text-align: right;
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}
.promotion_slidebar {
    display: flex;
    /*flex-wrap: wrap;*/
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    z-index: 100;
}
.promotion_slidebar_img{
    width: 60%;
    min-width: 150px;
    align-self: flex-end;
    z-index: 10;
    filter: drop-shadow(20px 20px 15px rgba(0,0,0,0.5));
}
.img_header{
    display: flex;
    height: auto;
    width: 90%;
    align-self: flex-end;
}
.promo_text span{
    font-size: calc(1rem + ((1vw - 3.2px) * 8));
}

.sticky_menu {
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, #7F7F7F, #505050);
    width: 100%;
    z-index: 500;
    box-shadow: 5px 0px 21px rgba(0,0,0,0.62);
} 

@media screen and (max-width: 820px) {
.sticky_menu {
    position: inherit ;
    background: linear-gradient(to bottom, #7F7F7F, #505050);
    width: 100%;
    z-index: 500;
    box-shadow: 5px 0px 21px rgba(0,0,0,0.62);
  }
}

.topmenu {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
}
.menu_logo {
    display: flex;
    width: 220px;
    height: 65px;
    }
.menu_logo img{
    margin: auto;
    height: 40px;
}
.menu_button{
    background: linear-gradient(to bottom, #7F7F7F, #505050);
    max-width: 320px;
    min-width: 100px;
    height: 65px;
    line-height: 65px;
    color: #ffffff;
    font-size: 25px;
    justify-content: space-between;
    text-align: center;
    flex-grow: 1;
    border-style: none;
    outline-style: none;
    outline-color: #7F7F7F;
}
.zam{
    background-color: #f57c00;
    max-width: 320px;
    min-width: 100px;
    height: 65px;
    line-height: 65px;
    color: #ffffff;
    font-size: 25px;
    justify-content: space-between;
    text-align: center;
    flex-grow: 1;
    border-style: none;
    outline-style: none;
    outline-color: #7F7F7F;
    min-width: 150px;
    text-align: center;
    color: #ffffff;
    max-width: 1100px;
}
.icons_bar_container {
    background-image: url(../img/head/triangle_grey.jpg);
    background-size: cover; 
    background-position: center;
    background-color: #f57c00;
    z-index: -2;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
    /*perspective: 1px;*/
    /*perspective-origin: 0 0;*/
    
    
}
.icons_bar_center {
    display: flex;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;

}
.icons_bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*justify-content: center;*/
    height: 155px;
    min-width: 218px;
    max-width: 450px;
}
.icons_bar:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.62);
    z-index: 100;
    /*display: flex;*/
    /*flex-grow: 1;*/
    /*height: 155px;*/
    /*min-width: 220px;*/
    /*max-width: 340px;*/
}
.icons_bar img {
    display: flex;
    padding-top: 10px;
    width: 75px;
    height: 75px;
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    margin: auto;
}
.icons_bar span {
    display: flex;
    color: #ffffff;
    font-size: 30px;
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    margin: auto;
    
}
.design {
    background-color: #FECB18;
}

.t-shirt {
    background-color: #455a64;
}
.notebook {
    background-color: #0277bd;
    }
.cups {
    background-color: #6ecc00;
}
.business-card {
    background-color: #1a237e;
}

.powerbox_inv .mask {top: 0px; transition: all 0.3s ease-out 0.5s;}
.powerbox_inv h2 {transform: translateY(0px); transition: all 0.2s ease-in-out 0.1s;}
.powerbox_inv a.info {transform: translateX(300px); transition: all 0.2s ease-in-out 0.3s;}

.logo {
    background-color: #424242;
}
.booklets {
    background-color: #f57c00;
}
.calendars {
    background-color: #450254;
}
.menus {
    background-color: #00b7c9;
    max-width: 1100px;
    
}
.banners {
    background-color: #d51325;
    max-width: 1100px;
}

/*.yuhu{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: white;*/
/*    background-image: url(/img/source/futbolki_showk.jpg);*/
    /*filter: blur(5px) opacity(0.5);*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    right: 0px;*/
/*    z-index: -2;*/
/*    margin: 0px;*/
/*    background-size: 100% auto; */
/*    background-position: top;*/
/*    background-repeat: no-repeat;*/
/*}*/
.main_text_block, .our_work{
    max-width: 1100px;
    margin: auto;
    
}
.main_text_block2 {
        padding: 20px;
        background-color: white;
    
}
.our_work{
width: 100%;
margin: auto;
/*background-color: #e8e8e8;*/
}
.our_work_img_bar{
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
 
}
.img_our_work{
    display: flex;
    margin: 0px;
    width: 25%;
    min-width: 150px;
    height: auto;
}
.light_img{
    width: 100%;
    height: auto;
}
.row{
    display: flex;
    flex:1;
    width:100%;
    margin: auto;
}
.some_textarea{
    display:flex;
    text-align: left;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.intro_h1{
    text-align: center;
    padding: 20px 50px;
    font-size: 100px;
}
.img_oval {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    flex-wrap: wrap;
}
.some_textarea p{
    display: flex;
    text-align: left;
    padding: 20px;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 690px;
}
.some_textarea img{
    display:flex;
    align-items: center;
}
.our_work{
width: 100%;
margin: auto;
}

.promotion_4block {
    display: flex;
    background-image: url(../img/head/triangle_grey.jpg);
    background-size: cover; 
    background-position: center;
    }  
.promotion_4block_center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    }
.left_2_columns{
    display: flex;
    /*align-items: stretch;*/
    min-width: 550px;
    flex: 1;
}
.right_2_columns{
    display: flex;
   /*align-items: stretch;*/
    min-width: 550px;
    flex: 1;
    
}
.promotion_4block_one_block_b{
    display: flex;
    flex-direction: column;
    flex: 1;
    /*height: 100%;*/
    /*max-width: 275px;*/
    /*flex-wrap: wrap;*/
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    /*align-items: flex-start;*/
    
}
.promotion_4block_one_block_w{
    display: flex;
    flex-direction: column;
    flex: 1;
    /*height: 100%;*/
    /*max-width: 275px;*/
    /*flex-wrap: wrap;*/
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    /*align-items: flex-start;*/
  }
@media screen and (max-width: 1100px) {
  .right_2_columns {
      flex-direction: row-reverse;
  }}
.promotion_4block_one_block_b p, h3 {
        display: flex;
        margin: 15px;
        color: #ffffff;
}
.promotion_4block_one_block_b h3{
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px; 
}
.promotion_4block_one_block_w h3{
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px; 
}
.promotion_4block_one_block_w p, h3 {
        display: flex;
        margin: 15px;
        color: #000000;
}
.promotion_4block_one_block_b img{
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.promotion_4block_one_block_w img{
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

.hov_to_by {
    display: flex;
    /*background-image: url(/img/head/triangle_green.jpg);*/
    background-size: cover; 
    background-position: center;
    }  
.hov_to_by_center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 30px;
    flex: 1;
    }

.hov_big_text {
    width: 100%;
    color: #7c7c7c;
    display: flex;
    flex-wrap: wrap;
    /*flex: 1;*/
}

.hov_big_text img{
    width: 100%;
}

/*.drop {*/
/*    width: 100%;*/
/*    box-shadow: 0px 0px 30px rgba(0,0,0,0.62);*/
/*}*/
.o1{
    flex-grow:3;
    display: flex;
}
.o2{
    flex-grow:1.5;
    font-size: 65px;
    line-height: 1;
}
.o11{
    flex-grow:1;
    font-size: 210px;
    line-height: 1;
}
.o12{
    flex-grow:1.8;
    font-size: 80px;
    line-height: 1.3;
}
.o13{
    flex-grow:1;
    font-size: 210px;
    line-height: 1;
}
.hov_big_text2{
    font-size: 60px;
    width: 100%;
    color: #7c7c7c;
}
.hov_to_by_head_area {
    color: white;
    display: flex;
    flex-wrap: wrap;
    /*margin: 10px;*/
    max-width: 366px;
    /*margin: auto;*/
    min-width: 200px;
    font-size: 20px;
    flex-grow: 1;
}
.hov_to_by_head_area p{
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    min-width: 50px;
    margin: 20px;
}

.hov_to_by_head_area span{
    font-size: 35px;
    height: 120px;
}
.number{
    color: white;
    display: flex;
    font-size: 120px;
    width: 100px;
    height: 150px;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 0.8;
}
.nowrap{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}
.button_zamovutu{
    background-color: #f57c00;
    max-width: 320px;
    min-width: 250px;
    height: 65px;
    line-height: 65px;
    color: #ffffff;
    font-size: 25px;
    justify-content: space-between;
    text-align: center;
    border-style: none;
    text-align: center;
    color: #ffffff;
      margin: 20px auto 0px  0px;
}
.button_zamovutu:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.62);
    z-index: 100;
}
.button_price{
    background-color: #c9c9c9;
    max-width: 320px;
    min-width: 250px;
    height: 65px;
    line-height: 65px;
    color: #ffffff;
    font-size: 25px;
    justify-content: space-between;
    text-align: center;
    /*flex-grow: 1;*/
    border-style: none;
    outline-style: none;
    text-align: center;
    color: #ffffff;
    margin: 20px 0px auto 0px;
}
.button_price:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.62);
    z-index: 100;
}

.footer_area{
    background-color: #222;
    background-image: url(../img/grid.png);
    box-shadow: inset 0px 9px 86px 14px rgba(0,0,0,0.75);  
   }
.footer_center{
    display: flex;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
}
.footer_address {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #ffffff;
    margin: auto;
    padding:20px;
}
.block25x75 {
    display: flex;
    flex-wrap: wrap; 
    flex-wrap: nowrap;
    margin: 10px;
}
.block25x75 img{
    align-self: center;
    width: 30px;
    height: auto;
    margin-right: 30px;
}
.google_map {
    min-width: 320px;
    height: 400px;
    max-width: 850px;
    display: flex;
    flex-grow: 1;
    color: #ffffff;
    margin: auto;
    justify-content: flex-end;
    padding:20px;
    /*line-height: 65px;*/
}
.google_iframe { min-width: 320px;
    height: 370px;
    max-width: 450px;
    display: flex;
    flex-grow: 1;
    border: none;
    
}