@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=cyrillic,cyrillic-ext');

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    background-color: #f5f5f5;
    min-width: 320px;
    margin: 0px;
}
h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0px; 
    }
h2 {
    font-size: 35px;
    font-weight: normal;
    margin: 0px;   }
h3 {
    display: flex;
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
   }

h4 {
    display: flex;
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
       }
p {
    margin: 0px;
}
    

.promotion_bar {
    background-color: #080f00;
    z-index: 1;
    min-height: 450px;
    background-image: url(../img/head/triangle_green.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 9px 86px 14px rgba(0,0,0,0.75);
}
/*.promotion_bar2 {min-height: 450px; width: 1100px;*/
/*  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 41%,rgba(0,0,0,1) 100%);  */
/*}*/

.sticky_menu {
    position: sticky;
    height: 65px;
    background: linear-gradient(to bottom, #7F7F7F, #505050);
    width: 100%;
    z-index: 10;
    box-shadow: 5px 0px 21px rgba(0,0,0,0.62);
} 
.topmenu {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    justify-content: space-between;
}
.menu_button{
    vertical-align: middle;
    max-width: 200px;
    min-width: 165px;
    margin: auto;
    height: 65px;
    line-height: 65px;
    color: #ffffff;
    font-size: 25px;
    justify-content: space-between;
}
.menu_button_zam{
    vertical-align: middle;
    width: 220px;
    margin: auto;
    height: 65px;
    line-height: 65px;
    color: #ffffff;
    font-size: 25px;
    background-color: #f57c00;
    justify-content: space-between;
}
.menu_logo {
    display: flex;
    width: 220px;
    height: 65px;
}

.menu_logo img{
    margin: auto;
    height: 40px;
}

.icons_bar_container {
    display: flex;
    z-index: 1;
    margin: auto;
    background-image: url(../img/head/triangle_grey.jpg);
    background-size: cover; 
    background-position: center;
    }  
    
.icons_bar_center {
    display: flex;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
}  
    
.icons_bar {
    display: flex;
    flex-grow: 1;
    height: 155px;
    min-width: 220px;
    max-width: 340px;
}
.icons_bar:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.62);
    z-index: 100;
    /*display: flex;*/
    /*flex-grow: 1;*/
    /*height: 155px;*/
    /*min-width: 220px;*/
    /*max-width: 340px;*/
}
.design {
    background-color: #FECB18;
}
.t-shirt {
    background-color: #455a64;
}
.notebook {
    background-color: #0277bd;
    }
.cups {
    background-color: #6ecc00;
}
.business-card {
    background-color: #1a237e;
}
.logo {
    background-color: #424242;
}
.booklets {
    background-color: #f57c00;
}
.calendars {
    background-color: #450254;
}
.menus {
    background-color: #00b7c9;
    max-width: 550px;
    }
.banners {
    background-color: #d51325;
    max-width: 1100px;
}
    
    
.icons_bar img {
    justify-self: center;
    padding-top: 20px;
    width: 75px;
    height: 75px;
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    }
    
.icons_bar span {
    justify-self: center;
    color: #ffffff;
    font-size: 30px;
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    }
    
.icons_bar{    
    display: grid; 
    grid-template-rows: 100px 0px 80px;
    }
    
main {
    max-width: 1100px;
    margin: auto;
    background-color: #ffffff;
}


.intro_text{
    display:grid;
    grid-template-columns: 25% 75%;
    vertical-align: middle;
}
    
.logo_black {
    text-align: center;
   
}

.logo_black img{
    width: 190px;
    margin: 15px;
    }

.title_big {
    align-self: end;

}
.title_big h1, h2 {
     margin: 15px;
       vertical-align: middle;
}
    
.some_textarea{
    text-align: left;
    padding: 20px;
    }

#action{
    background-image: url(../img/footer/grey.jpg);
    background-size: cover; 
    display: grid;
    }

#action_center {
    justify-self: center;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 1100px;
    
}

#action_business_cards {
    font-size: 20px;
    padding: 20px;
    
}

#action_center img{
    min-width: 100px;
    max-width: 200px;
    
}
    
#how_to_by{

        }
    
#big_how_to_by{
    font-size: 200px;
    color: #afafaf;
    text-align: center;
    }
    .happy {
        width: 35%;
        border: 4px double black;
    }
    
.how_to_by_center{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-columns: repeat(auto-fill, 320px);
    }
    .zamovutu_item{
    font-size: 25px;
    margin: 5px;
        
    }
   /*  grid-template-columns: 1 fr 10 fr;*/

.promotion_4block {
    display: flex;
    background-image: url(../img/head/triangle_grey.jpg);
    background-size: cover; 
    background-position: center;
    }  

.promotion_4block_center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    }
    
.left_2_columns{
    display: flex;
    /*align-items: stretch;*/
    min-width: 550px;
    flex: 1;
}

.right_2_columns{
    display: flex;
   /*align-items: stretch;*/
    min-width: 550px;
    flex: 1;
    
}
.promotion_4block_one_block_b{
    flex: 1;
    height: 100%;
    /*max-width: 275px;*/
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    }
.promotion_4block_one_block_w{
    flex: 1;
    height: 100%;
    /*max-width: 275px;*/
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
  }
.promotion_4block_one_block_b p, img, h3 {
        margin: 0px 15px 0px 15px;
        color: #ffffff;
}

.promotion_4block_one_block_w p, img, h4 {
        margin: 0px 15px 0px 15px;
        color: #000000;
}

.promotion_4block_one_block_b img{
    height: auto;
    width: 90%;
    
}
.promotion_4block_one_block_w img{
    height: auto;
    width: 90%;
    
}


.zamovutu_center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    vertical-align: middle;
}
.hov {
    vertical-align: bottom;
    font-size: 300px; 
    color: #6ecc00;
}
.to {
    font-size: 100px; 
    vertical-align: bottom;
    color:#b0b0b0;
}
.by {
    font-size: 300px;
    vertical-align: bottom;
    color:#b0b0b0;
}
.zamovutu_center {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    max-width: 1100px;
    margin: auto;
}



.footer_area{
    background-color: #222;
    background-image: url(../img/grid.png);
    box-shadow: inset 0px 9px 86px 14px rgba(0,0,0,0.75);  
   }
.footer_center{
    display: flex;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
}
    
.footer_address {
    min-width: 320px;
    min-height: 400px;
    display: flex;
    flex-grow: 1;
    color: #ffffff;
    margin: auto;
    padding:20px;
    /*line-height: 65px;*/
}
.google_map {
    min-width: 320px;
    height: 400px;
    max-width: 850px;
    display: flex;
    flex-grow: 1;
    color: #ffffff;
    margin: auto;
    justify-content: flex-end;
    padding:20px;
    /*line-height: 65px;*/
}

.google_iframe { min-width: 320px;
    height: 400px;
    max-width: 850px;
    display: flex;
    flex-grow: 1;
    
}
/*.promotion_bar2 {min-height: 450px; width: 1100px;*/
/*  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 41%,rgba(0,0,0,1) 100%);  */
/*}*/