.parallax-container {
      height: auto;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      display: block;
    }
.parallax{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    box-sizing: border-box;
}
.parallax img{
transform: translate3d(-50%, 523.068px, 0px);
    opacity: 1;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
}